# Local environment
LOCAL_DEPLOYMENT_ID=dev_deployment_id_string

# DEV environment
DEV_DEPLOYMENT_ID=dev_deployment_id_string

# QA environment
QA_DEPLOYMENT_ID=qa_deployment_id_string

# Prod environment
PROD_DEPLOYMENT_ID=prod_deployment_id_string
